body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.meter {
  /* position: absolute; */
  width: 200px;
  height: 33%;
}
.meter__scale {
 width: 1px;
 height: 25vw;
 min-height: 250px;
 transform-origin: bottom;
 border-top: 10px solid;
 position: absolute;
 right: 50%;
}

.meter__pointer{
  background: black;
  width: 2px;
  height: 25vw;
  min-height: 250px;
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%
}
.pitch{
 
}


