body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.meter {
  top: 30px;
  width: 200px;
  height: 33%;
  margin-bottom: 5px;
}
.meter__scale {
  width: 1px;
  height: 25vw;
  min-height: 250px;
  transform-origin: bottom;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter__pointer {
  background: black;
  width: 2px;
  height: 25vw;
  min-height: 250px;
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.note {
  margin-top: calc(200px + 15vw);
  color: #000018;
  font-size: 7rem;
}

.pitch {
  color: #000018;
  font-size: 1.5rem;
}

.microphone {
  margin-top: 5px;
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #777777;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
